---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>CV</h1>
    <h2 class="erfaringoverskrift">Erhvervs erfaring</h2>
    <div class="grid">
      <section class="col1">
        <h2>Selvstændig</h2>
        <p>Januar 2022 -</p>
      </section>

      <section class="col2">
        <li>
          Udfører skræddersyede kundebehandlinger med afsæt i øjenbryn og
          øjenvipper.
        </li>
        <li>Har opbygget en stærk kunderelation hvilket sikrer genkøb.</li>
        <li>Ansvarlig for regnskab og andre adminstrative opgaver.</li>
      </section>

      <section class="col1">
        <h2>KENNY ANKER</h2>
        <h3>Salon og service manager</h3>
        <p>Aug 2021 - Dec 2022</p>
      </section>

      <section class="col2">
        <li>
          Kundebehandling med særligt fokus på service, salg og fastholdelse af
          kundeforhold.
        </li>
        <li>
          Håndtering af administrative opgaver herunder kundehenvendelser,
          vagtplanlægning, varebestilling, budgettering og markedsføring på
          sociale medier.
        </li>
        <li>
          Regelmæssig afholdelse af samtaler med medarbejdere om deres
          præstation og trivsel.
        </li>
      </section>

      <section class="col1">
        <h2>Madklubben</h2>
        <h3>Floor Manager</h3>
        <p>Sep 2019 - Sep 2021</p>
      </section>
      <section class="col2">
        <li>
          Lederrolle med fokus på gæsteoplevelse og et motiverende arbejdsmiljø.
        </li>
        <li>
          Briefede og opmuntrede personalet til at levere deres bedste
          præstation, hvilket øgede effektiviteten og medarbejdernes trivsel.
        </li>
        <li>
          Tæt samspil med virksomhedens nøgletal og NPS score. Jeg leverede
          tilfredsstillende resultater med omtanke for budgettet.
        </li>
        <li>
          Udførelse af administrative opgaver såsom varebestilling,
          kasseoptælling, vagtplanlægning.
        </li>
        <li>Ansvarlig for jobsamtaler og oplæring af nye talenter.</li>
        <li>
          Deltaget i workshops med henblik på kompetenceudviklig som leder.
        </li>
        <li>Leverede komplet assistance til restaurantchefen.</li>
      </section>
    </div>

    <h2 class="uddoverskrift">Udannelse</h2>
    
<div class="grid">
    <section class="col1">
      <h3>KEA</h3>
      <p>Multimediedesign</p>
      <p class="arstal">2022 - 2024</p>
    </section>

    <section class="col2">
      <h3>Niels Brock NVG</h3>
      <p>HHX, markedsføring</p>
      <p class="arstal">2017 - 2020</p>
    </section>
  </div>
</div>
</div>

  </div>
</Layout>

<style>
  .container {
    margin-inline: auto;
    max-width: 750px;
    padding: 25px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  li {
    text-decoration: none;
    list-style-type: none;
    margin-top: 1.5rem;
    font-weight: 400;
    font-family: "raleway", serif;
    color: #27272a;
    line-height: 1.57rem;

  }

  p{
    font-weight: 600;
  }

  .arstal{
    font-weight: 500;
  }

  .col1,
  .col2 {
    margin-top: 1rem;
    padding: 5px;
    margin-bottom: 2rem;

  }

  h1{
    margin-bottom: 4rem;
  }


  .erfaringoverskrift, .uddoverskrift{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #27272a;
    background-color:#fee2e2;
    padding: 3px;
    width: 13rem;
    border-radius: 1.5rem;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
  }

  .uddoverskrift{
    margin-top: 2rem;
  }

  @media screen and (max-width: 600px) {


  .col1 {
    margin-bottom: 0rem;
  }

  .col2{
    margin-top: 0;
  }
}


</style>
