---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout>
  <Nav />

  <div class="container">
    <section>
      <h1>Nina Hildebrandt</h1>
      <h2>
        Søger en spændende praktikplads inden for webdesign, hvor jeg kan
        udfolde mine færdigheder og tilegne mig ny viden med fokus på kreativ
        udvikling.
      </h2>
      <p class="indexp">
        Jeg er Nina Hildebrandt, 22 år gammel og bosat på Frederiksberg. På
        nuværende tidspunkt befinder jeg mig på 3. semester af
        multimediedesignstudiet på KEA. Jeg er på udkig efter en praktikplads
        inden for områder som digitalt design, webdesign, UI/UX og
        frontend-udvikling. Jeg håber, at min profil kan imødekomme jeres behov
        og bidrage positivt til jeres team.
      </p>
    </section>

	<div>
		<button>Se mine projekter</button>
	</div>
  </div>
</Layout>

<style>
  .container {
    margin-inline: auto;
    max-width: 700px;
    padding: 25px;
  }

  .indexp{
	margin-top: 2rem;
	margin-bottom: 2rem;

  }

  button{
	margin-top: 1rem;
	border: none;
	background-color: #dc2626;
	color: #e0f2fe;
	font-size: 1rem;
	border-radius: 2.625rem;
	padding: 1rem 5.8125rem;


	

  }
</style>
