---
import Layout from "../layouts/Layout.astro";
import Scrollingcontainer from "../components/Scrollingcontainer.astro";

---

<Layout>

  <div class="container">
    <section>
      <h1>Nina Hildebrandt</h1>
      <h2>
        Søger en spændende praktikplads inden for webdesign, hvor jeg kan
        udfolde mine færdigheder og tilegne mig ny viden med fokus på kreativ
        udvikling.
      </h2>
      <p class="indexp">
        Jeg er Nina Hildebrandt, 22 år gammel og bosat på Frederiksberg. På
        nuværende tidspunkt befinder jeg mig på 3. semester af
        multimediedesignstudiet på KEA. Jeg er på udkig efter en praktikplads
        inden for områder som digitalt design, webdesign, UI/UX og
        frontend-udvikling. Jeg håber, at min profil kan imødekomme jeres behov
        og bidrage positivt til jeres team.
      </p>
    </section>

	<div class="knapContainer">
    <section><button>Se mine projekter</button>
    </section><button>Se mit CV</button><section>
	</div>

  <h3 class="praktik">Praktik forventninger</h3>
  <div class="imgContainer">
    <section>
      <p>I løbet af min uddannelse har jeg udviklet en større interesse inden for digitalt design, UI/UX og frontendudvikling. Jeg håber på at lande en praktikplads, der understøtter et sundt og positivt teammiljø, men som også giver mig mulighed for at bidrage aktivt til projektarbejdet og deltage i skabelsen af digitale løsninger.</p>
      <p class="pBottom">Jeg søger en praktikplads med en periode på 10 uger og opstart slut august/start september.</p>
    </section>
    <section><img src="/images/portræt-kopi.webp" alt=""></section>
  </div>

  <h3 class="facts">Fun facts om mig</h3>
  </div>

  <Scrollingcontainer/>

</Layout>

<style>
  .container {
    margin-inline: auto;
    max-width: 750px;
    padding: 25px;
    margin-top: 1rem;
  }

  .indexp{
	margin-top: 2rem;
	margin-bottom: 2rem;

  }

  .knapContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*gap: 1rem;*/
    margin-bottom: 4rem;
  }

  button{
	margin-top: 1rem;
	border: none;
	/*background-color: #dc2626;*/
  background-color: #ef4444;
	color: #e0f2fe;
	font-size: 1rem;
	border-radius: 2.625rem;
	/*padding: 1rem 5.8125rem;*/
  font-weight: 500;
  width: 20rem;
  padding: 15px;
  }

  button:hover{
  background-color: #e0f2fe;
	color: #ef4444;
  }

  .imgContainer{
    margin-inline: auto;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;


  }
  img{
    height: auto;
    width: 280px;
    border-radius: 2.625rem;
  }

  .pBottom{
    font-weight: 600;
  }

  .praktik, .facts{
    text-transform: uppercase;
    margin-top: 2rem;
  }

  .facts{
margin-top: 4rem;
  }
</style>
