---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <div class="top">
    <h1>Projekter</h1>
    <p class="topp">
      Under mit andet semester på multimediedesignuddannelsen på KEA har jeg
      sammen med min studiegruppe arbejdet på diverse projekter, herunder
      redesigns for UX Copenhagen og VahlWood samt udviklingen af en kampagne
      for CA a-kasse.
    </p>

    <p> Vores tilgang til opgaverne startede med en grundig
      analyse af målgruppen for at opnå en dybere forståelse af deres behov og
      indsamle vigtige indsigter. Derefter igangsatte vi designprocessen ved at
      skabe en prototype i Figma, hvor løbende test og tilpasninger blev
      foretaget. Afslutningsvis implementerede vi vores færdigheder inden for
      HTML, CSS og JavaScript til at kode de endelige websites. Projekterne har
      derfor givet mig erfaring med værktøjer som <strong> Git, GitHub, Astro, Netlify,
      Figma, supabase og Adobe-pakken.</strong></p>
  </div>

    <section id="first-section">
      <article><img src="../ux-kopi.webp" alt="">
        <div>
        <h3>UX Copenhagen</h3>
          <p class="tekst">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eius reiciendis voluptatem nobis laudantium modi aliquid, a eum odit unde omnis quas dignissimos, eveniet consectetur itaque illum amet illo esse!</p>
          <button>Se løsningen</button>
      </div>
    </article>

      <article><img src="../ca-kopi.webp" alt="">
          <div><h3>CA Akasse</h3>

              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ducimus ratione dolore porro sit debitis recusandae dolor, laudantium ipsam quo eos, assumenda rem placeat atque, sapiente pariatur illo. Libero, quasi?</p>
              <button>Se løsningen</button>

          </div>
      </article>

      <article><img src="../vahlwood-kopi.webp" alt=""><div>
        <h3>Vahl Wood</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta eius reiciendis voluptatem nobis laudantium modi aliquid, a eum odit unde omnis quas dignissimos, eveniet consectetur itaque illum amet illo esse!</p>
        <button>Se løsningen</button>

    </div></article>
  </section>

  </div>
</Layout>

<style>
  .container {
    margin-inline: auto;
    max-width: 750px;
    padding: 25px;
    margin-top: 1rem;
  }

  .top{
    margin-bottom: 4rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  article{
    margin-top: 3rem;
    gap: 4rem;

  }
  img {
    width: 300px; 
    height: 100%;
    border-radius: 2rem;

  }

  .tekst{
    max-width: 48ch;
  }

  /*.topp{
    font-weight: 600;
    color: #ef4444;
  }*/

  h3{
    text-transform: uppercase;
  }

  button{
	margin-top: 1rem;
	border: none;
  background-color: #ef4444;
	color: #e0f2fe;
	font-size: 1rem;
	border-radius: 2.625rem;
  font-weight: 500;
  width: 20rem;
  padding: 15px;
  }

  button:hover{
  background-color: #e0f2fe;
	color: #ef4444;
  }
  #first-section article{
  margin-top: 2rem;
  margin-bottom: 3rem;


    }

  /* Media queries larger screens*/
@media  screen and (min-width:600px){
    #first-section article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

    }
  
 #first-section article:nth-child(even) div{
grid-column: 1 ;
grid-row: 1;
   
}
}


</style>
