<div class="container">
    <h1>Kontakt</h1>
  
    <div class="grid">
      <section class="col1">
        <h3>Telefon nr</h3>
        <p>+45 30355465</p>
      </section>
      <section class="col2">
        <h3>E-mail</h3>
        <p>ninagh@live.dk / nihi0001@stud.kea.dk</p>
      </section>
    </div>
  
  </div>

<style>
     .container {
    margin-inline: auto;
    max-width: 750px;
    padding: 25px;
    margin-top: 0rem;
    margin-bottom: 3rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  h3{
    color: #27272a;
  }
</style>