<header class="navbar">
  <nav class="web-nav">
  <a href="/">Profil</a>
  <a href="/projekter">Projekter</a>
  <a href="/cv">CV</a>
  <a
    href="https://www.linkedin.com/in/nina-grandil-hildebrandt-712525171"
    aria-label="LinkedIn"
  >
    <img src="/images/linkedin-kopi.svg" alt="" class="logo" id="linkedin-icon" />
  </a>
</nav>
  <button class="hamburger">
    <div class="bar"></div>
  </button>

  <nav class="mobile-nav">
    <a class="link" href="/">Profil</a>
    <a class="link" href="/projekter">Projekter</a>
    <a class="link" href="/cv">CV</a>
    <a
      href="https://www.linkedin.com/in/nina-grandil-hildebrandt-712525171"
      aria-label="LinkedIn"
    >
      <img src="/images/linkedin-kopi.svg" alt="" class="logo" id="linkedin-icon" />
    </a>
  </nav>

</header>

<style>
  a.active {
    font-weight: bold;
    color: #000000; 
  }
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    /*margin-right: 2rem;*/
    margin-top: 1rem;
  }

  .logo {
    width: 40px;
    height: auto;
    /*margin-left: 8px;*/
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    color: #b91c1c;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    font-family: "Arimo";
    margin-right: 40px;
  }

  .web-nav a img{
    vertical-align: middle;
  }

  

/* Burger menu*/

.hamburger {
  position: relative;
  display: block;
  width: 45px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000000;
  margin: 5px -10px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  /*transform: rotate(-50deg) translate(-8px, 4px);*/
  transform: rotate(-50deg) translate(-9px, 3px);
  position: relative;
  z-index: 100;
}

.hamburger.is-active:after {
  /*transform: rotate(50deg) translate(-10px, -7px);*/
  transform: rotate(50deg) translate(-7px, -4px);

  position: relative;
  z-index: 100;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #e0f2fe;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 20px;
  text-align: center;
  padding: 12px 16px;
	border-radius: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.mobile-nav a,link {
  transition: transform 0.2 ease;
}

.mobile-nav a.link:hover {
  background-color: #ffa5a5;
}


.link{
  background-color: #ef4444;

}

/* media q for hamburger*/

@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 767px) {
  .web-nav {
    display: none;
  }
}

  
@media screen and (max-width: 600px) {

  a {
    font-size: 1rem;
  }

  .navbar {
    display: flex;
    justify-content: right;
    margin-top: 1rem;
    margin-right: 0rem;  }

}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const linkedinIcon = document.getElementById("linkedin-icon");

    linkedinIcon.addEventListener("mouseover", () => {
      document.body.style.backgroundColor = "#0077b5";
    });

    linkedinIcon.addEventListener("mouseleave", () => {
      document.body.style.backgroundColor = "#e0f2fe";
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    // Find den aktuelle URL
    var currentUrl = window.location.href;

    // Find alle links i navigationsmenuen
    var navLinks = document.querySelectorAll(".navbar a");

    // Loop gennem links og tilføj aktiv klasse til det link, der matcher den aktuelle URL
    navLinks.forEach(function (link) {
      // Sammenlign URL'en uden sidst '/' for at undgå unødvendige forskelle
      if (link.href.replace(/\/$/, "") === currentUrl.replace(/\/$/, "")) {
        link.classList.add("active");
      }
    });
  });


  // burgermenu

const menu_btn = document.querySelector(".hamburger");
const mobile_menu = document.querySelector(".mobile-nav");

menu_btn.addEventListener("click", function () {
  menu_btn.classList.toggle("is-active");
  mobile_menu.classList.toggle("is-active");
});
</script>
