<main>
    <section class="full">
      <!--<header>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat.
        </p>
      </header> -->
  
      <ul role="list">
        <li>
          <h3>#1</h3>
          <p>Søndag er min yndlingsdag i ugen. Det er typisk en dag med garanti for godt vejr, og jeg føler mig altid ekstra positiv og produktiv. 
          </p>
        </li>
  
        <li>
          <h3>#2</h3>
          <p>Hvis jeg ikke blev optaget på multimediedesign studiet, ville jeg have overvejet at søge ind i politiet. Jeg elsker at se danske krimiserier og film.
          </p>
        </li>
  
        <li>
          <h3>#3</h3>
          <p>Jeg elsker at gå til koncerter. Der er altid god energi og en unik stemning, som jeg virkelig nyder.
          </p>
        </li>
  
        <li>
          <h3>#4</h3>
          <p>Jeg har en lille udfordring ved at kende forskel på højre og venstre.
          </p>
        </li>

        <li>
          <h3>#5</h3>
          <p>Jeg er et kæmpe A-mennekse. Jeg foretrækker at stå tidligt op, og få mest muligt ud af min dag.
          </p>
        </li>


      </ul>
    </section>
  </main>
  
  <style>
    :root {
      --content-width: 50rem;
    }
  
    /*ul:has(> li:nth-child(2)) li:nth-child(2) {
      background: var(--black-color);
      color:var(--white-color);
  
      h3{
        color: var(--white-color);
  
      }
    }*/
   
  
    main {
      padding-block: 1rem;
      display: grid;
      grid:
        auto /
        [full-start]
        1fr
        [content]
        minmax(0, var(--content-width))
        1fr
        [full-end];
      column-gap: 1rem;
  
      > * {
        grid-column: 2;
      }
  
      .full {
        grid-column: 1 / -1;
        display: grid;
        grid: auto / subgrid;
        /*row-gap: 3rem;*/
  
        > * {
          grid-column: 2;
        }
  
        > ul {
          scroll-snap-type: x mandatory;
          grid-column: 1 / -1;
          padding-inline: max(1rem, 50% - var(--content-width) / 2);
          padding-block-end: 1rem;
  
          li {
            scroll-snap-align: center;
          }
        }
      }
    }
  
    ul {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      list-style-type: none;
  
      li {
        flex-basis: min(300px, 80%);
        flex-shrink: 0;
        background: #fee2e2;
        color: #27272a;
        border-radius: 2rem;
        font-size: 1rem;
        padding: 2.3rem 2.1875rem;
        align-self: start;
  
        h3 {
          font-weight: 500;
          font-size: 1rem;
          color: #b91c1c;
          text-transform: uppercase;
        

        }
      }
    }
  
    h2,
    h3 {
      /*all: revert;*/
      color: #181818;
      /*margin-block: 0 0.625rem;*/
      /*line-height: 1.125;*/
      font-family: "raleway";
    }
  
    h2 {
      /*font-size: 2.8125rem;*/
      text-transform: uppercase;
    }
    
  
      p {
        /*max-inline-size: 67ch;*/
        font-family: "raleway";

      }

  
 
  </style>
  