/** {
    background: #F2F1E6;
}*/

/*h1 {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}*/

h2,
h3,
p,
a, li {
    line-height: 1.5;
}

h1{
    text-transform: uppercase;
    font-family: "raleway";
    font-size: 2.8rem;
    color: #b91c1c;
    font-weight: 600;

    
}

h2{
    font-family: "raleway"; 
    color: #f87171;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.5rem;

}

h3{
    font-family: "raleway"; 
    color: #dc2626;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.5rem;
    letter-spacing: 2px;

}

p{
    font-family: "raleway";
    font-weight: 500;
    font-size: 1rem;
    /*line-height: 1.475rem;*/
    line-height: 1.57rem;

}

body {
    margin: 0;
    padding: 0;
   /* background: #F2F1E6;*/
   /* background: #f7f9e1;*/
    /*background: #fcf2ec;*/
    /*background: #f0f9ff;*/
    background: #e0f2fe;



}



